body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar-link {
  color: white;
}

.hidden {
  display: none;
}

.ticker {
  display: inline;
}

#landing-page-grid {
  background-color: aqua;
}
