body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar-link {
  color: white;
}

.hidden {
  display: none;
}

.ticker {
  display: inline;
}

#landing-page-grid {
  background-color: aqua;
}

#landing-page-grid-demo {
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vjkyj2hBg/bubbles-floating-up-animation-on-blue-background_eusn1gwsx__F0008.png');
}
